@model List<K2E.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<main>
    
        <div class="col-12 bg-secondary rounded h-100 p-4">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="card-body ">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page">@Html.ActionLink("Categorias", "Index", "Categories")</li>
                            <li class="breadcrumb-item active" aria-current="page">Listado</li>
                        </ol>
                    </nav>

                    <div class="row">
                        <div class="col-12 table table-responsive">

                            @Html.ActionLink("Nuevo", "Create", "Categories", null, new {@class="btn btn-outline-primary" })
                            <br />

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryId</td>
                                            <td>@item.Nombre</td>
                                            <td>@item.Descripcion</td>
                                            <td>
                                                @*@Html.ActionLink("Editar", "Edit", "Categories", new { id = item.CategoryId }, new { @class = "text-warning" })
                                                 @Html.ActionLink("Eliminar", "Delete", "Categories", new { id = item.CategoryId }, new { @class = "text-danger" })*@

                                                <a href="/Admin/Categories/Edit/@item.CategoryId" class="text-warning"><i class="fas fa-edit"></i>Editar</a>
                                                <a href="/Admin/Categories/Delete/@item.CategoryId" class="text-danger"><i class="fas fa-trash"></i>Eliminar</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</main>