@model List<K2E.Entities.User>
@{
    ViewBag.Title = "Index";
}

<main>

    <div class="col-12 bg-dark">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">@Html.ActionLink("Usuarios", "Index", "Users")</li>
                        <li class="breadcrumb-item active" aria-current="page">Listado</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-12 table table-responsive">

                        @Html.ActionLink("Nuevo", "Create", "Users", null, new { @class = "btn btn-outline-primary" })

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Clave</th>
                                    <th>RolId</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Email</td>
                                        <td>@item.Clave</td>
                                        <td>@item.Rol.Nombre</td>
                                        
                                        <td>
                                           

                                            <a href="/Admin/Rols/Edit/@item.Email" class="text-warning"><i class="fas fa-edit"></i>Editar</a>
                                            <a href="/Admin/Rols/Delete/@item.Email" class="text-danger"><i class="fas fa-trash"></i>Eliminar</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</main>